# Rewrites all requests so that "index.php" is
# removed from the URL.
#
<ifModule mod_rewrite.c>
RewriteEngine on
#     RewriteCond %{HTTPS} !=on
#     RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
#     RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI}
#
#     RewriteCond !{HTTPS} off
#     RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI]

RewriteCond $1 !^(index\.php|images|uploads|robots\.txt|bower_components|assets)
RewriteRule ^(.*)$ index.php/$1 [L]
</ifModule>
