<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="CodeIgniter Core Test Suite">
            <!--
			<directory suffix="test.php">./codeigniter/core</directory>
			<directory suffix="test.php">./codeigniter/helpers</directory>
			<directory suffix="test.php">./codeigniter/libraries</directory>
            -->
            <directory suffix="test.php">./scaffold</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">PEAR_INSTALL_DIR</directory>
			<directory suffix=".php">PHP_LIBDIR</directory>
			<directory suffix=".php">../vendor</directory>
		</blacklist>
	</filter>
    <php>
        <var name="DB_DSN" value="mysql:dbname=proj01_02;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="haus78" />
        <var name="DB_DBNAME" value="proj01_02" />
    </php>
</phpunit>